.dialog-content {
  padding: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2, app-add-task {
  width: 100%;
  max-width: unset;
}

h2 {
  margin-top: 0;
  span {
    font-size: 14px;
  }
}

mat-icon {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

