<div class="app-title">
  Kanban Project Management Tool
</div>

<div class="header-end-wrapper">
  <div class="dark-light-wrapper" (click)="switchMode()">
      <mat-icon [ngClass]="{ 'moon': mode === 'dark' }">dark_mode</mat-icon>
        <div class="toggle-btn" [ngClass]="{ 'light-mode': mode === 'light' }"></div>
      <mat-icon [ngClass]="{ 'sun': mode === 'light' }">light_mode</mat-icon>
  </div>

  @if (this.route != '/help') {
    <mat-icon [matTooltip]="'help'" routerLink="help">help_outlined</mat-icon>
  }

  <div class="user-avater" [matMenuTriggerFor]="menu">
    <span>GN</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="legal">Legal Notice</button>
      <button mat-menu-item routerLink="privacy">Privacy Policy</button>
      <button mat-menu-item routerLink="login" (click)="logout()">Log out</button>
    </mat-menu>
  </div>
</div>
