<div class="app-title">
  Kanban Project Management Tool
  <span>(v1.0)</span>
</div>

<div class="header-end-wrapper">
  <div class="dark-light-wrapper" (click)="switchMode()">
      <mat-icon [ngClass]="{ 'moon': mode === 'dark' }">dark_mode</mat-icon>
        <div class="toggle-btn" [ngClass]="{ 'light-mode': mode === 'light' }"></div>
      <mat-icon [ngClass]="{ 'sun': mode === 'light' }">light_mode</mat-icon>
  </div>

  @if (this.route != '/help') {
    <mat-icon [matTooltip]="'help'" routerLink="help">help_outlined</mat-icon>
  }


    <div class="user-avater"
         [matMenuTriggerFor]="menu"
         [style.background-color] = "userService.activeUser ? userService.activeUser!.color : 'var(--active-color)'">
      @if (userService.activeUser) {
        <span>
          {{(userService.activeUser.firstname | firstLetter) +
          (userService.activeUser.lastname | firstLetter) }}
        </span>
      } @else {
        <span>G</span>
      }

    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="legal">Legal Notice</button>
        <button mat-menu-item routerLink="privacy">Privacy Policy</button>
        <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
  </div>


</div>
