:host {
  width: 100%;
  height: 80px;
  box-shadow: 0 0 2px var(--font-color-primary);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  gap:8px;
  z-index: 999;
}

.app-title {
  margin-left: 240px;
  font-size: 18px;
  text-wrap: nowrap;

  span {
    font-weight: 400 !important;
    font-size:14px;
    opacity: .75;
  }
}

.header-end-wrapper {
  width: 100%;
  padding-right: 56px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap:20px;

  mat-icon {
    opacity: .5;
    cursor: pointer;
  }
}

.user-avater {
  border: 2px solid var(--font-color-primary);
  font-weight: 500;
  cursor: pointer;
  height: 48px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  span {
    color: var(--font-color-secondary);
  }

  &:hover {
    background-color: rgba(0,0,0, 0.05);
  }
}

.dark-light-wrapper {
  display: flex;
  gap:4px;

  .toggle-btn {
    width: 40px;
    height: 24px;
    background-color: #333;
    border-radius: 32px;
    position: relative;
    cursor: pointer;
    transition: all 125ms ease;


    &::before {
      content:"";
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: white;
      top:4px;
      left:4px;
      border-radius: 50%;
      transition: all 125ms ease;
    }
  }

  .light-mode {
      background-color: rgba(51, 51, 51, 0.5);

      &::before {
        left: 20px;
      }
  }

  .moon {
    color:white;
    opacity: .9;
  }

  .sun {
    color: orange;
    opacity: .9;
  }
}

.mat-mdc-menu-item {
  padding: 0 24px;
  color: var(--font-color-secondary);
}

