:host {
  display: inline-block;
  z-index: 10;
  left: 0;
  top: 0;
  width: 232px;
  min-width: 232px;
  height: 100vh;
  background-color: #333;
}

.side-nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 25% 0 25% 0;
}

img {
  user-select: none;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding-bottom: 100%;

  .link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
  }

  .link-inside {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
    user-select: none;
    cursor: pointer;

    &:hover {
      span {
        opacity: 1;
      };
    }
  }
}

.legal-help-links-wrapper {
  display: flex;
  flex-direction: column;
  gap:16px;
}

span {
  opacity: .75;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
