:host {
  display: inline-block;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 232px;
  min-width: 232px;
  height: 100vh;
  background-color: var(--primary-color);
  filter: drop-shadow(0 0 1px var(--font-color-primary));
}

.side-nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 25% 0 25% 0;
  color: var(--font-color-primary);
  font-size: 14px;
}

img {
  user-select: none;
  height: 12.5%;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding-bottom: 100%;

  .link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    cursor: pointer;

    &:hover {
      background-color: #555;
    }
  }
}

.link-inside {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
  user-select: none;

  &:hover {
    span {
      opacity: 1;
    };
  }
}

.legal-help-links-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:4px;
  width: 100%;

  span {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: #555;
    }
  }
}

span {
  opacity: .9;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.active-route {
  background-color: var(--active-color);

  span {
    opacity: 1;
    font-weight: 500;
  }

  &:hover {
    background-color: var(--active-color) !important;
  }
}
