<!--@if (activeRoute === '/login' || activeRoute === '/registration' || activeRoute === '/') {-->
<!--  <div class="login-subscribe-container">-->
<!--    @if (activeRoute === '/login' || activeRoute === '/') {-->
<!--      <app-login></app-login>-->
<!--    }-->
<!--    @if (activeRoute === '/registration') {-->
<!--      <app-registration></app-registration>-->
<!--    }-->
<!--  </div>-->
<!--}-->

<app-header></app-header>
<app-side-nav></app-side-nav>

<div class="content-container">
  <router-outlet></router-outlet>
</div>

