<img src="/join_logo.svg" alt="">

<div class="header-container fade-in-animation">
  <span>Not a Join user?</span>
  <button mat-flat-button routerLink="/registration">Sign up</button>
</div>

<div class="login-container fade-in-animation">
    <h1>Log in</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Email</mat-label>
      <input matInput
             formControlName="email"

             placeholder="Email"/>
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Password</mat-label>
      <input matInput
             [type]="hidePassword ? 'password' : 'text'"
             formControlName="password"
             autocomplete="off"
             placeholder="Password"/>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <div class="button-wrapper">
      <button class="log-in-btn" mat-flat-button [disabled]="!loginForm.valid" type="submit">Log in</button>
      <button mat-flat-button (click)="guestLogin()">Guest Log in</button>
    </div>
  </form>

  @if (loginFailed) {
    <div class="login-fail">
      Login failed. Please check your email and password and try again.
    </div>
  }
</div>

<div class="footer-container fade-in-animation">
  <button mat-button><span>Privacy Policy</span></button>
  <button mat-button><span>Legal notice</span></button>
</div>

@if (loginSuccess) {
  <div class="login-registration-success">
    <mat-spinner></mat-spinner>
    Please wait. You are logging in.
  </div>
}


