<div class="category-wrapper">
  @if (task.category === "user_story") {
    <div class="category-chip user-story">User Story</div>
  } @else if (task.category === "technical_task") {
    <div class="category-chip technical-task">Technical Task</div>
  }
</div>

<h5 class="task-card-title text-overflow-prevention" [matTooltip]="task.title">
  {{ task.title }}
</h5>

<div class="description text-overflow-prevention">
  {{ task.description}}
</div>

@if (task.subtasks) {
  <div class="subtasks-bar-wrapper">
      <div class="subtasks-bar">
          <div class="progress-bar"
               [style.width]="(task.subtasks | subtaskProgress) * 100 / task.subtasks.length + '%'">
          </div>
      </div>
      <span> {{(task.subtasks | subtaskProgress)}}/{{ task.subtasks.length }} Subtasks</span>
  </div>
}

<div class="assigned-priority-wrapper">

    <div class="assigned-wrapper">
      @if (task.assigned_user) {
        @for (user of task.assigned_user | sliceAssignedUser ; track $index) {
          <div class="initials"
               [matTooltip]="user.firstname + ' ' + user.lastname"
               [style.background-color]="user.color">
            {{ user.firstname | firstLetter }}{{ user.lastname | firstLetter }}
          </div>
        }

        @if (task.assigned_user.length > 5) {
          <span [matTooltip]="task.assigned_user | assignedUserOverflow"
                class="assigned-user-overflow"
                [matTooltipPosition]="'after'">
            +{{ task.assigned_user.length - 5 }} more
        </span>
        }
      }
    </div>


  <div class="priority">
      <mat-icon class="{{ task.priority }}">
          {{ task.priority | prioIcon }}
      </mat-icon>
  </div>
</div>

