<div class="category-wrapper">
  <mat-icon class="hover-edit-icon">g_translate</mat-icon>

  @if (task.category === "User Story") {
    <div class="category-chip user-story">{{ task.category }}</div>
  } @else if (task.category === "Technical Task") {
    <div class="category-chip technical-task">{{ task.category }}</div>
  }
</div>

<h5> {{ task.title }} </h5>
<div class="description"> {{ task.description}}</div>

@if (task.subtasks) {
  <div class="subtasks-bar-wrapper">
      <div class="subtasks-bar">
          <div class="progress-bar"
               [style.width]="(task.subtasks | subtaskProgress) * 100 / task.subtasks.length + '%'">
          </div>
      </div>
      <span> {{(task.subtasks | subtaskProgress)}}/{{ task.subtasks.length }} Subtasks</span>
  </div>
}

<div class="assigned-priority-wrapper">
  <div class="assigned-wrapper">
    @for (user of task.assigned_user; track $index) {
      <div class="initials"
           [matTooltip]="user.firstname + ' ' + user.lastname"
           [style.background-color]="user.color">
        {{ user.firstname.charAt(0) + user.lastname.charAt(0)}}
      </div>
    }
  </div>

  <div class="priority">
    <mat-icon class="{{ task.priority }}">{{ task.priority | prioIcon }}</mat-icon>
  </div>
</div>

