:host {
  position: relative;
  width: 65%;
  display: block;
  padding-bottom: 5vh;
}

//mat-icon {
//  position: absolute;
//  top: 0;
//  right: 0;
//  color: var(--accent-color) !important;
//  font-size: 32px;
//  height: 32px;
//  width: 32px;
//}

