@use "@angular/material" as mat;

html {
  @include mat.theme(
      (
        color: mat.$azure-palette,
        typography: Inter,
      )
  );
}

:root {
  --primary-color: #F6F7F8;
  --secondary-color: #F0F0F0;
  --active-color: #091931;
  --accent-color: #29ABE2;
  --warn: #FF3D00;
  --font-color-primary: rgb(42, 54, 71);
  --font-color-secondary: #F0F0F0;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: var(--font-color-primary);
  background-color: var(--primary-color);
  --mat-sys-primary: var(--primary-color);
  transition: all 500ms ease-in-out;
}

.mat-mdc-button {
  background: var(--font-color-primary);
}

.dark-mode {
  --primary-color: #222;
  --secondary-color: #333;
  --font-color-primary: #F0F0F0;
  --active-color: #444;
  --mat-sys-surface-container: var(--secondary-color);
  --mat-sys-on-surface: var(--font-color-primary);

  .mat-mdc-button {
    --mat-sys-primary: #2A3647;
    background: #F6F7F8 !important;
    --mat-sys-label-large-weight: 700;
  }
}

h1 {
  font-size:48px;
  margin:0;
  white-space: nowrap;
}

.mat-mdc-progress-spinner {
  --mat-sys-primary: var(--font-color-primary);
  opacity: .75;
}

/* ############# */
/*     FONTS     */
/* ############# */

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// #########
//  HEADER
// ########

.cdk-overlay-pane {
  transform: translateY(28px);
}

.mat-mdc-menu-panel {
  border-radius: 16px !important;
  border-top-right-radius: 0 !important;
  box-shadow: none !important;
}
