@use "../node_modules/@angular/material/index" as mat;

html {
  @include mat.theme(
      (
        color: mat.$azure-palette,
        typography: Inter,
      )
  );
}

:root {
  --primary-color: #f1f1f1;
  --secondary-color: #F0F0F0;
  --active-color: #091931;
  --accent-color: #29ABE2;
  --spacer-color: #D1D1D1;
  --warn: #FF3D00;
  --font-color-primary: #111;
  --font-color-secondary: #F0F0F0;
  --mat-sys-surface-container: #333;
  --mat-sys-on-surface: #333;
  --mat-sys-primary: #111;
  --mat-sys-surface-container-high: #333;
  --mat-sys-corner-full: 12px;
  --board-col-bg-color: rgba(51, 51, 51, 0.075);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: var(--font-color-primary);
  background-color: var(--primary-color);
  transition: all 100ms ease;
}

.mat-mdc-button {
  background: var(--font-color-primary);
  font-weight: 700 !important;
}

.mdc-button {
  font-weight: 700 !important;
}

.dark-mode {
  --primary-color: #222;
  --secondary-color: #333;
  --font-color-primary: rgba(240, 240, 240, 0.85);
  --font-color-secondary: rgba(240, 240, 240, 0.85);
  --spacer-color: rgba(255, 255, 255, 0.1);
  --active-color: #444;
  --mat-sys-surface-container: var(--secondary-color);
  --mat-sys-on-surface: var(--font-color-primary);
  --mat-sys-primary: #F0F0F0;
  --board-col-bg-color: #333;
}

h1 {
  font-size:32px;
  margin:0;
  white-space: nowrap;
}

.mat-mdc-progress-spinner {
  --mat-sys-primary: var(--font-color-primary);
  opacity: .75;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: rgba(51, 51, 51, 0.2);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
  transform: scaleY(0.5);
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

/* ############# */
/*     FONTS     */
/* ############# */

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// #########
//  HEADER
// ########


.mat-mdc-menu-panel {
  margin-top:28px !important;
  border-radius: 16px !important;
  border-top-right-radius: 0 !important;
  box-shadow: none !important;
  transform: translateY(-2px);
}

mdc-button__label {
  display: flex;
  align-items: center;
}

// general

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 44px;
  font-size: 18px;
  border-radius: 50%;
  color: var(--font-color-secondary);
  font-weight: 500;
  filter: grayscale(.25);
  box-shadow: inset 0 0 0 1.5px var(--font-color-secondary);
}

// Formular Prio Buttons

.mat-button-toggle-checkbox-wrapper {
  display: none !important;
}

.mat-button-toggle-checked .mat-button-toggle-button:has(.mat-button-toggle-checkbox-wrapper) {
  padding-left: 0 !important;
}

.prio-urgent {
  background-color: #FF3D00 !important;
}

.prio-medium {
  background-color: #FFA800 !important;
}

.prio-low {
  background-color: #7AE229 !important;
}

// Board

.search-add-wrapper {
  .mdc-text-field--outlined .mdc-text-field__input {
    border-right: 1px solid rgba(51, 51, 51, 0.5) !important;
  }

  .mat-mdc-form-field-infix {
    min-width: 260px !important;
  }
}

// Snackbar

.error-snackbar {
  border: 1px solid var(--warn);
  font-weight: bold;
}
