:host {
  max-width: 1440px;
  display: block;
}

:host .mat-button-toggle-group{
  border-radius: 4px !important;
}

form {
  height: 75vh;
  max-height: 60vh;
  overflow: auto;
  overflow-x: hidden;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 12px;
  margin-bottom: 2.5vh;
}

.form-left-side, .form-right-side {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-left-side {
  //border-right: 1px solid var(--spacer-color);
  padding-right: 32px;
}

.form-right-side {
  border-left: 1px solid var(--spacer-color);
  padding-left: 32px;
}

.input-headline {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: .2em;
  font-weight: 400;

  span {
    color: var(--warn);
    opacity: .75;
  }
}

.action-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 12px;
}

.required-hint span {
    color: var(--warn);
    opacity: .75;
}

.button-wrapper {
  display: flex;
  width: 30vw;
  min-width: 320px;
  gap:16px;
  --mat-sys-primary: var(--secondary-color);

  button {
    flex: 1;
  }

  span {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
  }
}

textarea {
  min-height: 128px;
}

.mat-mdc-option span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mat-mdc-option {
  --mat-sys-on-secondary-container: var(--font-color-primary);
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: var(--spacer-color) !important;
}

.initials {
  height: 36px;
  font-size: 16px;
}

.assigned-user-display-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;

  span {
    cursor: pointer;
  }

  .initials {
    cursor: pointer;
    transition: all 75ms ease;

    &:hover {
      opacity: .75;
    }
  }
}

.mat-button-toggle-group {
  margin-bottom: 20px;
  min-height: fit-content;

  span {
    display: flex;
    flex:1;


    mat-button-toggle {
      flex:1;
      font-weight: 700;
    }

    .mat-pseudo-checkbox {
      display: none;
    }
  }
}

.subtask-add-icon {
  color: var(--font-color-primary) !important;
  cursor: pointer;
  border-left: 1px solid var(--spacer-color);
}

.subtask-list {
}

.subtask-ele {
  border-radius: 12px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: var(--spacer-color);
  }
}

.subtask-icon-wrapper {
  display: flex;
  gap:8px;

  mat-icon {
    cursor: pointer;
  }
}

.create-btn {
  background-color: var(--accent-color) !important;
}


.assigned-user-overflow {
  background-color: var(--secondary-color);
  padding: 8px 12px;
  margin-left: 4px;
  border-radius: 12px;
  cursor: unset !important;
  user-select: none;
  font-size: 12px;
  opacity: .9;
}
