:host {
  max-width: 1440px;
  display: block;
}

form {
  height: 75vh;
  max-height: 60vh;
  overflow: auto;
  overflow-x: hidden;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}

.form-left-side, .form-right-side {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-left-side {
  border-right: 2px solid var(--spacer-color);
  padding-right: 32px;
}

.form-right-side {
  padding-left: 32px;
}

.input-headline {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: .2em;
  font-weight: 400;

  span {
    color: var(--warn);
    opacity: .75;
  }
}

.action-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.required-hint span {
    color: var(--warn);
    opacity: .75;
}

.button-wrapper {
  display: flex;
  width: 30vw;
  min-width: 320px;
  gap:16px;
  --mat-sys-primary: var(--secondary-color);

  button {
    flex: 1;
  }

  span {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
  }
}

textarea {
  min-height: 52px;
}
.mat-mdc-option span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mat-mdc-option {
  --mat-sys-on-secondary-container: var(--font-color-primary);
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: var(--spacer-color) !important;
}

.initials {
  height: 36px;
  font-size: 16px;
}

.assigned-user-display-list {
  display: flex;
  gap: 8px;

  .initials {
    cursor: pointer;
    transition: all 75ms ease;

    &:hover {
      opacity: .75;
    }
  }
}

.mat-button-toggle-group {
  margin-bottom: 20px;
  span {
    display: flex;
    flex:1;


    mat-button-toggle {
      flex:1;
    }

    .mat-pseudo-checkbox {
      display: none;
    }
  }
}
